.env
.env.*
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/
.git/
.github/
node_modules/
build/
dist/
*.egg-info
.files
files/media/
files/static/
.DS_Store
.pytest_cache/
.mypy_cache/
.pip-wheel-cache/
docker-compose.override.yml